.container {
width: 1600px;
margin: 0 auto;
min-width:  600px;
background-color: #ffff;
}

.main_image {
display: block;
width: 1600px;
height: 880px;
background-image: url(../images/main_image.jpg)

}

.head-wrap{
display: block;
background-color: #23232e;
height: 425px;
width: 1195px;
padding:  0px;
margin: auto;
	}

.picta{
display: block;
width: 33%;
margin:0;
	}

